Source: hangon
Section: utils
Priority: extra
Maintainer: Michael Schuerig <michael@schuerig.de>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 7), autotools-dev, gnulib (>= 0.0.20041014-2), autoconf, automake, autotools-dev, gettext, cvs
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.8.0
Homepage: http://github.com/mschuerig/hangon
Vcs-Browser: http://github.com/mschuerig/hangon
Vcs-Git: git://github.com/mschuerig/hangon.git

Package: hangon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Keep a command running until it finishes successfully
 Start and restart a command until it finishes successfully.
 The command is restarted if it exits with an error code or 
 if it doesn't write anything to stdout for a given period.
